<div id="mainDiv">
  <form class="form">
    <div class="logocontainer">
        <img src="../../../assets/user.svg" alt="">
    </div>
    
    <p style="color: white;">Eliminar los % de las credenciales para ingresar.</p>

    <div class="input">
        <input type="text" placeholder="Correo" id="inputname" name="correo" [(ngModel)]="correo"/>
    </div>
    <div class="input">
        <input type="text" placeholder="Contraseña" id="inputpassword" name="contrasena" [(ngModel)]="contrasena"/>
    </div>
    <div class="btncontainer">
        <button (click)="submitData()">Iniciar sesión</button>
    </div>
  </form>
</div>
